.Pause {
    text-align: center;
}

.Pause h1 {
    font-family: tetris;
    font-size: 3rem;
    color: #3185fc;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .Pause h1 {
        font-size: 2rem;
    }
}