.Instructions {
    text-align: center;
}

.Instructions h1 {
    font-family: tetris;
    margin-bottom: 0;
    font-size: 3rem;
    color: #3185fc;
}

.Instruction p {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.Instruction svg {
    display: inline-block;
    vertical-align: middle;
}

.Instruction img {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.Icon {
    margin: 10px;
    font-size: 2.5rem;
}

.TouchInstructions {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 30px;
    height: 100%;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .Instructions h1 {
        font-size: 2rem;
    }

    .Instructions img {
        height: 28px;
        width: 28px;
    }

    .Icon {
        font-size: 2rem;
    }
}