.Instructions {
    text-align: center;
}

.Instructions h1 {
    font-family: tetris;
    margin-bottom: 0;
    font-size: 3rem;
    color: #3185fc;
}

.Instruction p {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.Instruction svg {
    display: inline-block;
    vertical-align: middle;
}

.Instruction img {
    height: 2.2rem;
    width: 2.2rem;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.Icon {
    margin: 10px;
    font-size: 2.5rem;
}