.BlockPiece {
    position: absolute;
}

.I {
    background-color: #f02d3a;
}

.Square {
    background-color: #f9dc5c;
}

.S {
    background-color: #16db93;
}

.T {
    background-color: #3185fc;
}

.L {
    background-color: #8434eb;
}